{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ 'label.contact.list'|trans }}</h1>

    <p>
        <a class="button" href="{{ path('contactlist_new') }}">{{ 'label.contact.new'|trans }}</a>
    </p>

    <div class="tables">
        <table class="table records_list datatable">
            <thead>
            <tr>
                <th>{{ 'entity.section.name'|trans }}</th>
                <th>{{ 'entity.committee.createdat'|trans }}</th>
                <th>{{ 'entity.section.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('contactlist_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('contactlist_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a>
                        <a href="{{ path('contactlist_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
