{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content -%}
    <h1>ContactList creation</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}<br>
    {{ form_row(form.users) }}<br>

    <input type="submit" value="{{ 'label.button.save'|trans }}" class="button" />

    {{ form_end(form) }}
{% endblock %}
