{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ 'entity.points.my'|trans }} ({{ total }})</h1>

    <p>
        <a class="button" href="{{ path('points_new') }}">{{ 'entity.points.new'|trans }}</a>
    </p>

    <div class="tables">
        <table class="table records_list datatable">
            <thead>
                <tr>
                    <th>{{ 'entity.points.basicaction'|trans }}</th>
                    <th>{{ 'entity.points.receiver'|trans }}</th>
                    <th>{{ 'entity.points.bonus'|trans }}</th>
                    <th>{{ 'entity.points.total'|trans }}</th>
                    <th>{{ 'label.date'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for point in points %}
                <tr>
                    <td>{{ point.basicAction }}</td>
                    <td>{{ point.to }}</td>
                    <td>{{ point.bonus }}</td>
                    <td>{{ point.points }}</td>
                    <td>{% if point.date %}{{ point.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
