{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content -%}
<section>
    <h1>Events creation</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}<br>
    {{ form_row(form.start) }}<br>
    {{ form_row(form.end) }}<br>

    <input type="submit" value="{{ 'label.button.save'|trans }}" class="button" />

    {{ form_end(form) }}

</section>
{% endblock %}
