<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Faucon d'Or{% endblock %}</title>

        {% block stylesheets %}
            {% spaceless %}
                {% block jquery_css %}
                    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/faucondor/css/jquery-ui.css') }}" media="all" />
                {% endblock jquery_css %}

                {% block css %}
                    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/faucondor/js/DataTable/css/jquery.dataTables.css') }}" media="all" />
                    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/faucondor/css/style.css') }}" media="all" />
                    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
                    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/css/select2.min.css" rel="stylesheet" />
                {% endblock %}

                <link href='https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800' rel='stylesheet' type='text/css'>
            {% endspaceless %}
        {% endblock %}

        <meta charset="UTF-8" />

        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/faucondor/images/ESN_star.jpg') }}" />
    </head>
    <body>
        <header id="mainHeader"></header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/faucondor/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/faucondor/js/jqueryUI.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/faucondor/js/DataTable/js/jquery.dataTables.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/faucondor/js/script.js') }}"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/js/select2.min.js"></script>
            <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
            <script>tinymce.init({ selector:'textarea' });</script>
            <script type="text/javascript" src="https://cdn.rawgit.com/mikeflynn/egg.js/master/egg.min.js"></script>
            {% block javascript %}{% endblock %}
        {% endblock %}
    </body>
</html>
