{% block menu %}
    {% set current = app.request.attributes.get('_route') %}
    <ul id="menu">
        <li {% if current == "faucondor_annuaire" %}id="current"{% endif %}>
            <a href="{{ path('faucondor_annuaire') }}">{{ 'label.menu.annuaire'|trans }}</a>
        </li>
        <li {% if current == "faucondor_participation" %}id="current"{% endif %}>
            <a href="{{ path('faucondor_participation') }}">{{ 'label.menu.participation'|trans }}</a>
        </li>
        {% if app.user.isRL() or app.user.isNationalChair() or app.user.isNationalVP() or app.user.isNationalSCV %}
            <li {% if current == "board" or current == "board_new" or current == "board_edit" %}id="current"{% endif %}>
                <a href="{{ path('board') }}">{{ 'label.menu.board'|trans }}</a>
            </li>
        {% endif %}
        {% if app.user.isNationalSCV %}
            <li {% if current == "contactlist" %}id="current"{% endif %}>
                <a href="{{ path('contactlist') }}">{{ 'label.menu.scv'|trans }}</a>
            </li>
        {% endif %}
        {% if app.user.isNationalVP() or app.user.isNationalNR() %}
            <li {% if current == "events" or current == "events_new" or current == "events_edit" %}id="current"{% endif %}>
                <a href="{{ path('events') }}">{{ 'label.menu.events'|trans }}</a>
            </li>
            <li {% if current == "section" or current == "section_new" or current == "section_edit"%}id="current"{% endif %}>
                <a href="{{ path('section') }}">{{ 'label.menu.sections'|trans }}</a>
            </li>
            <li {% if current == "committee" or current == "committee_new" or current == "committee_edit"%}id="current"{% endif %}>
                <a href="{{ path('committee') }}">{{ 'label.menu.committee'|trans }}</a>
            </li>
        {% endif %}
        {% if app.user.isNationalVP() %}
            <li {% if current == "faucondor_mailrl" %}id="current"{% endif %}>
                <a href="{{ path('faucondor_mailrl') }}">{{ 'label.menu.rl'|trans }}</a>
            </li>
        {% endif %}
        {% if app.user.isNationalBoardMember %}
            <li {% if current == "faucondor_listes" %}id="current"{% endif %}>
                <a href="{{ path('faucondor_listes') }}">{{ 'label.menu.listes'|trans }}</a>
            </li>
        {% endif %}
        {% if app.user.isNationalWebmaster %}
            <li {% if current == "nelmio_api_doc_index" %}id="current"{% endif %}>
                <a href="{{ path('nelmio_api_doc_index') }}" target="_blank">{{ 'label.menu.doc'|trans }}</a>
            </li>
        {% endif %}
    </ul>

    <div id="profile">

        {% set value = (app.user.getValue >= 1) ? app.user.getValue : 1 %}

        {% if app.user.username == "dg@ixesn.fr" %}
            <img src='{{ asset('bundles/faucondor/images/antoine.png') }}'>
        {% else %}
            <img src='{{ app.user.galaxypicture }}'>
        {% endif %}

        <p>
            {{ 'label.menu.hello'|trans }} {{ app.user }}<br><br>

           {{ app.user.section }}<br>
           {{ app.user.email }}<br><br>

            {% for post in app.user.posts %}
                {{ post.fullname }}<br>
            {% endfor %}<br>

           <a href='{{ path('faucondor_logout') }}'>
                {{ 'label.logout'|trans }}
           </a>
        </p>
    </div>
{% endblock %}