{% extends 'FaucondorBundle::layout.html.twig' %}

{% form_theme edit_form _self %}

{% block radio_widget %}
    {% spaceless %}
        <label  for="{{ id }}"><input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}</label>
    {% endspaceless %}
{% endblock radio_widget %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }} style="margin-left: 150px;">
                {% for child in form %}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>
        {% else %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option value="">{{ empty_value|trans }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('widget_choice_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            {% set attr = choice.attr %}
            <option value="{{ choice.value }}" {{ block('attributes') }}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{%- block checkbox_widget -%}
    {% spaceless %}
        <div>
            <label for="{{ id }}">{{ label|trans }}</label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /><br>
        </div>
    {% endspaceless %}
{%- endblock -%}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block content -%}
    <h1>{{ 'entity.section.edit'|trans }}</h1>

        <div id="edit_board">
            {{ form_start(edit_form) }}
                {{ form_row(edit_form.firstname) }}<br>
                {{ form_row(edit_form.lastname) }}<br>
                {{ form_row(edit_form.gender) }}<br><br>
                {{ form_row(edit_form.email) }}<br>
                {{ form_row(edit_form.mobile) }}<br>

            {% if edit_form.section is defined %}
                {{ form_row(edit_form.section) }}<br>
            {% endif %}

            {% if edit_form.posts is defined %}
                <div>
                    {{ form_label(edit_form.posts) }}
                    {{ form_widget(edit_form.posts) }}
                </div>
            {% endif %}

            <input type="submit" value="{{ 'entity.board.update'|trans }}" class="button" />


            {{ form_end(edit_form) }}
        </div>
{% endblock %}

