{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ 'label.menu.board'|trans }}</h1>

    <p>
        <a class="button" href="{{ path('board_new') }}">{{ 'entity.board.new'|trans }}</a>
    </p>

    <div class="tables">
        <table class="table board">
            <thead>
                <tr class=".firstColumn">
                    <th>{{ 'entity.user.firstname'|trans }}</th>
                    <th>{{ 'entity.user.lastname'|trans }}</th>
                    <th>{{ 'entity.user.mobile'|trans }}</th>
                    <th>{{ 'entity.user.email'|trans }}</th>
                    <th>{{ 'entity.user.post'|trans }}</th>
                    <th>{{ 'label.board.section'|trans }}</th>
                    <th>{{ 'label.boardmember'|trans }}</th>
                    <th>{{ 'entity.section.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for type, array in board_members %}
                {% for user in array %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.mobile }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% spaceless %}
                                {% set level = type %}

                                {% if level != "committee" %}
                                    {% if level != "localBoardMember" %}
                                        {% set level = "NationalBoardMember" %}
                                    {% endif %}

                                    {% for post in user.getPostsByLevel(level) %}
                                        {{ post }}
                                        {% if not loop.last %},{% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% if app.user.id == user.id %}
                                        {{ 'entity.user.chair'|trans }}
                                    {% else %}
                                        {{ 'entity.user.member'|trans }}
                                    {% endif %}
                                {% endif %}
                            {% endspaceless %}
                        </td>
                        <td>
                            {% if type != "committee" %}
                                {% if type == "localBoardMember" %}
                                    {{ user.section }}
                                {% else %}
                                    {{ type }}
                                {% endif %}
                            {% else %}
                                {% for committee in committees[user.id] %}
                                    {{ committee }}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if user.isLocalBoardMember %}
                                <i class="fa fa-check" style="color:green;"></i>
                            {% else%}
                                <i class="fa fa-times" style="color:red;"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('board_edit', { 'id': user.id, 'type': type }) }}">Edit<i class="fa fa-pencil-square-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $('.board').DataTable({
            "bInfo": false,
            "bPaginate": false,
            "oLanguage": { "sSearch": "" },
            "order": [[ 5, "desc" ]]
        });
    </script>
{% endblock %}