{% extends 'FaucondorBundle::layout.html.twig' %}

{% form_theme form _self %}

{%- block radio_widget -%}
    {% spaceless %}
        <input style="min-width: 15px;" type="radio" name="{{ full_name }}" id="radio_{{ value }}" value="{{ value }}"{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{%- endblock -%}

{% block choice_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} style="margin-left: 150px;">
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{%- block checkbox_widget -%}
    {% spaceless %}
        <div>
            <label for="{{ id }}">{{ label|trans }}</label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /><br>
        </div>
    {% endspaceless %}
{%- endblock -%}

{% block content -%}
<section>
    <h1>{{ 'entity.board.new'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.firstname) }}<br>
    {{ form_row(form.lastname) }}<br>
    {{ form_row(form.gender) }}<br><br>
    {{ form_row(form.email) }}<br>
    {{ form_row(form.mobile) }}<br>

    {% if form.section is defined %}
        {{ form_row(form.section) }}<br>
    {% endif %}

    {% if form.posts is defined %}
        {{ form_row(form.posts) }}<br>
    {% endif %}

    <input type="submit" value="{{ 'entity.board.new'|trans }}" class="button" />

{{ form_end(form) }}

</section>
{% endblock %}
