{% extends 'FaucondorBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block radio_widget %}
    {% spaceless %}
        <label  for="{{ id }}"><input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}</label>
    {% endspaceless %}
{% endblock radio_widget %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }} style="margin-left: 150px;">
                {% for child in form %}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>
        {% else %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option value="">{{ empty_value|trans }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('widget_choice_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            {% set attr = choice.attr %}
            <option value="{{ choice.value }}" {{ block('attributes') }}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{%- block checkbox_widget -%}
    {% spaceless %}
        <div>
            <label for="{{ id }}">{{ label|trans }}</label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /><br>
        </div>
    {% endspaceless %}
{%- endblock -%}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block content -%}
    <h1>{{ 'entity.board.new'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.firstname) }}<br>
    {{ form_row(form.lastname) }}<br>
    {{ form_row(form.gender) }}<br><br>
    {{ form_row(form.email) }}<br>
    {{ form_row(form.mobile) }}<br>

    {% if form.section is defined %}
        {{ form_row(form.section) }}<br>
    {% endif %}

    {% if form.posts is defined %}
        {{ form_row(form.posts) }}<br>
    {% endif %}

    <input type="submit" value="{{ 'label.button.save'|trans }}" class="button" />

{{ form_end(form) }}
{% endblock %}

{% block javascript %}
    <script>
        var localboardmember = $("#userbundle_user_posts_3");
        var nationalboardmember = $("#userbundle_user_posts_6");
        var activemember = $("#userbundle_user_posts_12");

        //President, RL, Secretary, Treasurer, VP, Webmaster
        var arrayLocalBoardPosts = ["36", "7", "18", "20", "21", "4"];

        //NR, President, Secretary, Treasurer, VP
        var arrayNationalBoardPosts = ["8", "11", "29", "31", "32", "1"];

        $('input:checkbox').click(function() {
            if (!activemember.checked){
                activemember.prop('checked', true);
            }

            if (!nationalboardmember.checked){
                if ($.inArray($(this).val(), arrayNationalBoardPosts) >= 0){
                    nationalboardmember.prop('checked', true);
                }
            }


            if (!localboardmember.checked){
                console.log($.inArray($(this).val(), arrayLocalBoardPosts));
                if ($.inArray($(this).val(), arrayLocalBoardPosts) >= 0){
                    localboardmember.prop('checked', true);
                }
            }


        });
    </script>
{% endblock %}