{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content -%}
    <h1>{{ 'entity.section.new'|trans }}</h1>

    {{ form(form) }}

    {{ form_start(form) }}

    {{ form_row(form.name) }}<br>
    {{ form_row(form.joindate) }}<br>
    {{ form_row(form.code) }}<br><br>
    {{ form_row(form.country) }}

    <input type="submit" value="{{ 'label.button.save'|trans }}" class="button" />

    {{ form_end(form) }}
{% endblock %}
