{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content %}
    <div class="tables">
        <table class="users datatable">
            <thead>
            <tr class=".firstColumn">
                <th>{{ 'entity.user.firstname'|trans }}</th>
                <th>{{ 'entity.user.lastname'|trans }}</th>
                <th>{{ 'entity.user.mobile'|trans }}</th>
                <th>{{ 'entity.user.email'|trans }}</th>
                <th>{{ 'entity.user.post'|trans }}</th>
                <th>{{ 'entity.user.section'|trans }}</th>
            </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{% if app.user.isNationalVP or app.user.isNationalWebmaster %}
                                <a href="{{ path('board_edit', { 'id': user.id, 'type' : 'NationalBoardMember' }) }}">{{ user.firstname }}</a>
                            {% else %}
                                {{ user.firstname }}
                            {% endif %}
                        </td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.mobile }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% spaceless %}
                                {% for post in user.getAnnuairePosts(constant('\\FaucondorBundle\\Entity\\Post::LOCAL')) %}
                                        {{ post }}
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            {% endspaceless %}
                        </td>
                        <td>{{ user.section }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}