{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content %}
    <div class="tables">
        <table class="users datatable">
            <thead>
            <tr class=".firstColumn">
                <th>{{ 'entity.user.firstname'|trans }}</th>
                <th>{{ 'entity.user.lastname'|trans }}</th>
                <th>{{ 'entity.user.mobile'|trans }}</th>
                <th>{{ 'entity.user.email'|trans }}</th>
                <th>{{ 'entity.user.post'|trans }}</th>
                <th>{{ 'entity.user.section'|trans }}</th>
            </tr>
            </thead>

            <tbody>
                {% for section, users in localusers %}
                    {% for user in users %}
                        <tr>
                            <td>{% if app.user.isNationalVP or app.user.isNationalWebmaster %}
                                    <a href="{{ path('board_edit', { 'id': user.id, 'type' : 'NationalBoardMember' }) }}">{{ user.firstname }}</a>
                                {% else %}
                                    {{ user.firstname }}
                                {% endif %}
                            </td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.mobile }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% spaceless %}
                                    {% for post in user.getPostsByLevel("localBoardMember") %}
                                        {{ post }}
                                        {% if not loop.last %},{% endif %}
                                    {% endfor %}
                                {% endspaceless %}
                            </td>
                            <td>
                                {{ section }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}

                {% for section, users in nationalusers %}
                    {% for user in users %}
                        {% set user = user[0] %}

                        <tr>
                            <td>{% if app.user.isNationalVP or app.user.isNationalWebmaster %}
                                    <a href="{{ path('board_edit', { 'id': user.id, 'type' : 'NationalBoardMember' }) }}">{{ user.firstname }}</a>
                                {% else %}
                                    {{ user.firstname }}
                                {% endif %}
                            </td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.mobile }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% spaceless %}
                                    {% for post in user.getPostsByLevel("NationalBoardMember") %}
                                        {{ post }}
                                        {% if not loop.last %},{% endif %}
                                    {% endfor %}
                                {% endspaceless %}
                            </td>
                            <td>
                                {{ section }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}

                {% for committee, users in committeesusers %}
                    {% for user in users %}
                        <tr>
                            <td>{% if app.user.isNationalVP or app.user.isNationalWebmaster %}
                                    <a href="{{ path('board_edit', { 'id': user.id, 'type' : 'NationalBoardMember' }) }}">{{ user.firstname }}</a>
                                {% else %}
                                    {{ user.firstname }}
                                {% endif %}
                            </td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.mobile }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% if user.isNationalChair %}
                                    {{ "entity.user.chair"|trans }}
                                {% else %}
                                    {{ 'entity.user.member'|trans }}
                                {% endif %}
                            </td>
                            <td>
                                {{ committee }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}