{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ 'label.menu.email'|trans }}</h1>

    <div id="edit_email">
        {{ form_start(form) }}
        {{ form_row(form.from) }}<br>
        {{ form_row(form.subject) }}<br><br>
        {{ form_row(form.body) }}<br>

        <input type="submit" value="{{ 'label.mail.update'|trans }}" class="button" />

        {{ form_end(form) }}
    </div>
{% endblock %}