{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content %}
    <div id="messages"></div>

    <div class="tables">
        <table id="participations" class="datatable">
            <thead>
                <tr class=".firstColumn">
                    <td>{{ 'label.menu.sections'|trans }}</td>

                    {% for event in events %}
                        <th>{{ event.name }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% for section in sections %}
                <tr>
                    <td class=".firstColumn">{{ section.name }}</td>

                    {% for event in events %}
                        {% if section.joindate > event.start %}
                            <td class="notInSection"></td>
                        {% elseif section.hasParticipated(event) %}
                            <td class="hasParticipated" data-href="{{ event.id ~ ',' ~ section.id }}"></td>
                        {% else %}
                            <td class="hasNotParticipated" data-href="{{ event.id ~ ',' ~ section.id }}"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        $( document ).ready(function() {
            var messages = $('#messages');

            $('#participations').on('click', 'td', function() {
                var td = $(this);
                var data = td.attr('data-href').split(',');
                var event_id = data[0];
                var section_id = data[1];

                var url = "{{ path('faucondor_annuaire_ajax', {'section_id': 'section_id', 'event_id': 'event_id' } ) }}";
                url = url.replace('section_id', section_id);
                url = url.replace('event_id', event_id);

                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function(json){
                        var css_class = json['code'];
                        var message = json['message'];
                        var id = json['id'];

                        td.removeClass();
                        td.addClass(id);

                        messages.html('<div class="' +css_class+ ' fade">' +message+ '</div>');
                        messages.fadeIn();
                        messages.delay(4000).fadeOut()
                    }
                });
            });
        });
    </script>
{% endblock %}