{% extends 'FaucondorBundle::layout.html.twig' %}

{% block content -%}
    <h1>Committee edit</h1>

    {{ form_start(edit_form) }}
    <div>

        {{ form_row(edit_form.name) }}<br>
        {{ form_row(edit_form.createdAt) }}<br>
        {{ form_row(edit_form.users) }}<br>
        {{ form_row(edit_form.chair) }}<br>

        <br>

        <input type="submit" value="{{ 'entity.committee.update'|trans }}" class="button" />

        {{ form_end(edit_form) }}
    </div>
{% endblock %}
